.content {
  text-align: center;

  position: static;
  left: 0;
  right: 0;
  top: 10%;
  transform: translateY(10%);

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
//modificar fondo
ion-content{
  --padding-top: 100px;
  --padding-bottom: 1000px;
  --padding-start:10px ;
  --padding-end:10px ;
}
.btn1{
  //background-color:blue;
  color:blanchedalmond;
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
  font-size: 10;
}
.btn2{
  color:blanchedalmond;
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
  font-size: 10;

}
