<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Duocuc
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="pizza" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="escanerqr">
        <ion-label>QrScanner</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pasta">
        <ion-label>Pasta</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

<ion-content class="content">
  <ion-router-outlet></ion-router-outlet>

</ion-content>
